<table class="w-full w-[600px] sm:w-full text-left">
  <tr>
      <td class="text-xs font-bold pt-5 section-1-lineHeight text-black">Ut enim ad minim:</td>
  </tr>
  <tr>
      <td class="text-xs font-normal pt-3 section-1-lineHeight text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>
  <tr>
      <td class="text-xs font-normal pt-3 section-1-lineHeight text-black">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </td>
  </tr>
  <tr>
      <td class="text-xs pt-8 section-1-lineHeight font-bold pb-3 text-black"> Sint occaecat cupidatat:</td>
  </tr>
  <tr>
      <td class="pl-2">
          <table>
              <tr>
                  <td class="text-xs font-normal section-1-lineHeight pr-1 whitespace-nowrap align-top text-black">1.</td>
                  <td class="text-xs font-normal section-1-lineHeight text-black">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
              </tr>
              <tr>
                  <td class="text-xs font-normal section-1-lineHeight pr-1 whitespace-nowrap align-top text-black">2. </td>
                  <td class="text-xs font-normal section-1-lineHeight text-black">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</td>
              </tr>
          </table>
      </td>
  </tr>
</table>