<table class="w-full w-[600px] sm:w-full ">
  <tr>
      <td class="w-[110px] h-[45px] max-w-full bg-gray-200">
          <a href="https://www.figma.com/"><img src="/logo.png" alt="Logo" /></a>
      </td>
      <td>
          <table class="w-[377px] sm:w-full">
              <tr>
                  <td class="pl-10 text-xs font-normal section-1-lineHeight section-1-color">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
              </tr>
          </table>
      </td>
  </tr>
</table>