<table class="w-full  w-[600px] sm:w-full text-center section-3-bg-color">
  <tr>
      <td class="text-2xl pt-4 pb-7 section-2-lineHeight font-bold section-3-color sm:pt-2 pb-5"> Sint cupidatat occaecat ut</td>
  </tr>
</table>
<table class="w-full w-[600px] sm:w-full text-center">
  <tr>
      <td>
          <div class="inline-block -mx-0.5 max-w-1/2 min-w-270 w-full sm:w-full sm:max-w-full align-top pr-3 sm:pr-0">
              <table class="w-full">
                  <td class="bg-white p-4">
                      <table>
                          <tr>
                              <td>
                                  <img src="/icon.png"   class="w-[100px] h-[100px]" alt="Main Body Icon 1"/>
                              </td>
                          </tr>
                          <tr>
                              <td class="text-xl leading-7 font-bold section-3-lineHeight section-3-color pt-4 pb-4">Nisi ut ade</td>
                          </tr>
                          <tr>
                              <td class="text-base section-2-subH-lineHeight font-normal section-3-para-color pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹</td>
                          </tr>
                      </table>
                  </td>
              </table>
          </div>
          <div class="inline-block -mx-0.5 max-w-1/2 min-w-270 w-full sm:w-full sm:max-w-full align-top sm:mt-5">
              <table class="w-full">
                  <td class="bg-white p-4">
                      <table>
                          <tr>
                              <td class=" ">
                                  <img src="/icon.png"   class="w-[100px] h-[100px]" alt="Main Body Icon 2"/>
                              </td>
                          </tr>
                          <tr>
                            <td class="text-xl leading-7 font-bold section-3-lineHeight section-3-color pt-4 pb-4">Nisi ut ade</td>
                          </tr>
                          <tr>
                              <td class="text-base section-2-subH-lineHeight font-normal section-3-para-color pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.¹</td>
                          </tr>
                      </table>
                  </td>
              </table>
          </div>
      </td>
  </tr>
</table>