<table class="w-full w-[600px] sm:w-full text-center">
  <tr>
      <td class="w-[560px] h-[203px] max-w-full bg-gray-200"><img src="/Hero-Image.png" class="w-[560px] h-[203px]" alt="Hero Banner Image" /></td>
  </tr>
  <tr>
      <td class="text-2xl pt-8 text-2xl section-2-lineHeight font-bold section-3-color"> Excepteur sint occaecat cupidatat </td>
  </tr>
  <tr>
      <td class="text-base font-normal section-2-subH-lineHeight pt-6 pl-7 pr-7 section-3-para-color sm:pl-0 sm:pr-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
  </tr>
  <tr>
      <td >
          <div class="leading-full px-8 pt-6 pb-6 sm:pl-0 pr-0">
              <x-button width="350" height="46" leading="23"  padding="12px 20px" rounded="10" bgColor="#008080" href="#" class="font-bold text-white text-[20px] xs:w-full ">Ut enim ad minim veniam</x-button>
          </div>
      </td>
  </tr>
</table>